<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= categoryName %></title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1><%= categoryName %></h1>

    <% menuItems.forEach((item)=>{ %>
    <ol>
      <li><%=item.name%></li>

      <ul>
        <li>$<%=item.price%></li>
        <li><%=item.rating %>⭐</li>
        <li><%=item.details %></li>
      </ul>
    </ol>
    <%}) %>
  </body>
</html>
