<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=RESTAURANT.name%></title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <h1>Home Page</h1>
    <p>
      <%=RESTAURANT.name%> , <%=RESTAURANT.address%> , <%=RESTAURANT.phone%>
    </p>

    <% if(RESTAURANT.isOpen) {%>
    <h3>Yes we are open!</h3>
    <%} else {%>
    <h3>Sorry, we are closed.</h3>
    <% }%>
  </body>
</html>
